workflows/Crypto.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Coin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First-15": {
      "main": [
        [
          {
            "node": "GET (C12)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second-15": {
      "main": [
        [
          {
            "node": "GET (C20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C12)": {
      "main": [
        [
          {
            "node": "Second-15",
            "type": "main",
            "index": 0
          },
          {
            "node": "candle-12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C6)": {
      "main": [
        [
          {
            "node": "First-15",
            "type": "main",
            "index": 0
          },
          {
            "node": "candle-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C20)": {
      "main": [
        [
          {
            "node": "candle-20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "c6 - c12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "c6 - c20": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coin": {
      "main": [
        [
          {
            "node": "GET (C6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Coin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candle-6": {
      "main": [
        [
          {
            "node": "c6 - c12",
            "type": "main",
            "index": 0
          },
          {
            "node": "c6 - c20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candle-12": {
      "main": [
        [
          {
            "node": "c6 - c12",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "candle-20": {
      "main": [
        [
          {
            "node": "c6 - c20",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Notify (6-12)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Notify (6-20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-04T18:39:11.139Z",
  "id": "12",
  "name": "Crypto",
  "nodes": [
    {
      "parameters": {},
      "id": "6de153ea-fc56-46a1-a01c-4bb5b97a0878",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        560
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "d6d8a939-692a-4cf2-9ab8-7b9282edbb9a",
      "name": "First-15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "webhookId": "2b6e2e72-96b6-44ed-a549-de70b2c833b6"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "ea9f690d-7e79-4d0c-b991-a9bc2b014202",
      "name": "Second-15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1580,
        440
      ],
      "webhookId": "2b6e2e72-96b6-44ed-a549-de70b2c833b6"
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "XRP/USDT"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "12"
            }
          ]
        },
        "options": {}
      },
      "id": "09bfe11b-83ec-4f41-b582-1850bdca0f72",
      "name": "GET (C12)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "={{ $json.coin }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "6"
            }
          ]
        },
        "options": {}
      },
      "id": "183054c2-3209-40d2-9ddb-ce695764e67c",
      "name": "GET (C6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1020,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "XRP/USDT"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "7cc1678e-d22e-4a1e-b15a-614f2b4e89f2",
      "name": "GET (C20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1760,
        440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "27850742-cbad-4bed-bf58-4351f4979b84",
      "name": "c6 - c20",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1400,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "074e6d01-4740-41c5-a9b5-85e21686dd06",
      "name": "c6 - c12",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1400,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"candle-6\"].replace(/(\\d+\\.\\d{4}).*/, '$1')}} ",
              "operation": "equal",
              "value2": "={{ $json[\"candle-12\"].replace(/(\\d+\\.\\d{4}).*/, '$1')}}"
            }
          ]
        }
      },
      "id": "9c0cdf03-9510-420f-8dfb-279109b2af73",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{  $json[\"candle-6\"].replace(/(\\d+\\.\\d{4}).*/, '$1') }}\n",
              "operation": "equal",
              "value2": "={{  $json[\"candle-20\"].replace(/(\\d+\\.\\d{4}).*/, '$1') }}\n"
            }
          ]
        }
      },
      "id": "ed74c2cf-f66f-469b-a762-1848974d5b0e",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1660,
        1040
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "coin",
              "value": "XRP/USDT"
            }
          ]
        },
        "options": {}
      },
      "id": "9c33f1fe-6519-4fc8-bb04-2022c52bd298",
      "name": "Coin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        820,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify.sant.sh/crypto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $node.Coin.json.coin }} - [6-12]"
            },
            {
              "name": "Tags",
              "value": "={{ $node.Coin.json.coin }}"
            },
            {
              "name": "Priority",
              "value": "urgent"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "=P6 - {{ $json[\"candle-6\"] }} , P12 - {{ $json[\"candle-12\"] }}",
        "options": {}
      },
      "id": "dd48aa11-d3b7-4021-b801-53d73feb50db",
      "name": "Notify (6-12)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1900,
        820
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "10",
          "name": "NTFY (notify.sant.sh)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify.sant.sh/crypto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $node.Coin.json.coin }} - [6-20]"
            },
            {
              "name": "Tags",
              "value": "={{ $node.Coin.json.coin }}"
            },
            {
              "name": "Priority",
              "value": "urgent"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "=P6 - {{ $json[\"candle-6\"] }}, P20 {{ $json[\"candle-20\"] }}",
        "options": {}
      },
      "id": "0764f1ad-bd32-47de-a0c4-382b1ab83edc",
      "name": "Notify (6-20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1900,
        1020
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "10",
          "name": "NTFY (notify.sant.sh)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "3a751530-cd9d-437d-a54f-8d1b34cc92f0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-6",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "70e69512-2472-424d-876b-8cf66ed6899c",
      "name": "candle-6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1040,
        720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-12",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8f23f98-ae49-4c64-a27a-4343e7cf21cc",
      "name": "candle-12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1040,
        920
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-20",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b040c7a-c179-472f-b8a6-abc545642578",
      "name": "candle-20",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1040,
        1120
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-30T17:56:38.000Z",
  "versionId": "c2146fa5-0698-4b49-846e-5e631be990c1"
}