workflows/Crypto.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Coin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First-15": {
      "main": [
        [
          {
            "node": "GET (C12)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second-15": {
      "main": [
        [
          {
            "node": "GET (C20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C12)": {
      "main": [
        [
          {
            "node": "Second-15",
            "type": "main",
            "index": 0
          },
          {
            "node": "candle-12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C6)": {
      "main": [
        [
          {
            "node": "First-15",
            "type": "main",
            "index": 0
          },
          {
            "node": "candle-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET (C20)": {
      "main": [
        [
          {
            "node": "candle-20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "c6 - c12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "c6 - c20": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coin": {
      "main": [
        [
          {
            "node": "GET (C6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Coin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candle-6": {
      "main": [
        [
          {
            "node": "c6 - c12",
            "type": "main",
            "index": 0
          },
          {
            "node": "c6 - c20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candle-12": {
      "main": [
        [
          {
            "node": "c6 - c12",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "candle-20": {
      "main": [
        [
          {
            "node": "c6 - c20",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Notify (6-12)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Notify (6-20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:47:02.569Z",
  "id": "MIvME1O7U9sxS3Il",
  "meta": null,
  "name": "Crypto",
  "nodes": [
    {
      "parameters": {},
      "id": "4b1f84eb-2aff-4d9a-8a5b-1208fbe87e68",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        340
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "120f8415-4197-4afc-8e09-17c6cbe7428e",
      "name": "First-15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        700,
        220
      ],
      "webhookId": "2b6e2e72-96b6-44ed-a549-de70b2c833b6"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "51b578f9-b818-493d-a8e1-ef66634c329e",
      "name": "Second-15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1060,
        220
      ],
      "webhookId": "2b6e2e72-96b6-44ed-a549-de70b2c833b6"
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "XRP/USDT"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "12"
            }
          ]
        },
        "options": {}
      },
      "id": "a9a66f1a-7496-4186-94f5-47164fd9e713",
      "name": "GET (C12)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "={{ $json.coin }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "6"
            }
          ]
        },
        "options": {}
      },
      "id": "23f32a02-593d-431a-80ab-c0a49e7dbc66",
      "name": "GET (C6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "url": "https://api.taapi.io/ema",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjRmNjIzNTc0OThkNzVkYTM2NjAwMzBlIiwiaWF0IjoxNjk2MDk2NTA4LCJleHAiOjMzMjAwNTYwNTA4fQ.uoVszW1zQEwLgXHgRMoT8Th3odwwWwZnbLQGSx7NxNM"
            },
            {
              "name": "exchange",
              "value": "binance"
            },
            {
              "name": "symbol",
              "value": "XRP/USDT"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "period",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "6b15f9ee-7dbe-46ee-ae96-1a8ab9ab0f5c",
      "name": "GET (C20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b3dad5ed-9981-4fad-83c7-1f58165a4656",
      "name": "c6 - c20",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        880,
        820
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "5889362c-f049-4d73-896c-22a510dd23f8",
      "name": "c6 - c12",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        880,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"candle-6\"].replace(/(\\d+\\.\\d{4}).*/, '$1')}} ",
              "operation": "equal",
              "value2": "={{ $json[\"candle-12\"].replace(/(\\d+\\.\\d{4}).*/, '$1')}}"
            }
          ]
        }
      },
      "id": "2aa00113-d97d-43e4-b06c-ebfcfa948b73",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{  $json[\"candle-6\"].replace(/(\\d+\\.\\d{4}).*/, '$1') }}\n",
              "operation": "equal",
              "value2": "={{  $json[\"candle-20\"].replace(/(\\d+\\.\\d{4}).*/, '$1') }}\n"
            }
          ]
        }
      },
      "id": "92fc4e1f-1dab-44c4-b913-50c2e981c641",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        820
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "coin",
              "value": "XRP/USDT"
            }
          ]
        },
        "options": {}
      },
      "id": "25b8dc86-63d6-4ee9-805e-32b568a1943d",
      "name": "Coin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify.sant.sh/crypto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $node.Coin.json.coin }} - [6-12]"
            },
            {
              "name": "Tags",
              "value": "={{ $node.Coin.json.coin }}"
            },
            {
              "name": "Priority",
              "value": "urgent"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "=P6 - {{ $json[\"candle-6\"] }} , P12 - {{ $json[\"candle-12\"] }}",
        "options": {}
      },
      "id": "8b018895-bc33-416f-b858-321b5c1e413b",
      "name": "Notify (6-12)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        600
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "10",
          "name": "NTFY (notify.sant.sh)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://notify.sant.sh/crypto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $node.Coin.json.coin }} - [6-20]"
            },
            {
              "name": "Tags",
              "value": "={{ $node.Coin.json.coin }}"
            },
            {
              "name": "Priority",
              "value": "urgent"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "=P6 - {{ $json[\"candle-6\"] }}, P20 {{ $json[\"candle-20\"] }}",
        "options": {}
      },
      "id": "8c37440e-5027-407e-9231-315d4fd38e08",
      "name": "Notify (6-20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        800
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "10",
          "name": "NTFY (notify.sant.sh)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "8331a506-47ce-4cc1-8074-e311280006bc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-6",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6bda720-a06a-48df-bfa4-9bd83d6c2144",
      "name": "candle-6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-12",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14168bc0-a1ae-414b-a5f4-68e508f28643",
      "name": "candle-12",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "candle-20",
              "value": "={{ $json.value.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b20547a-da00-4898-8bbb-2533bffa52fb",
      "name": "candle-20",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        900
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-19T17:47:09.991Z",
  "versionId": "f8dbb817-f7fa-40f0-aed1-de07a6aaaf35"
}