workflows/getYourIP.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:54:57.090Z",
  "id": "cwIBHAwKzxymr7mO",
  "meta": null,
  "name": "getYourIP",
  "nodes": [
    {
      "parameters": {},
      "id": "97fa8512-ca16-44ec-8880-386f292423b7",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "path": "myIP",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05aff2d2-feee-46a5-a0f7-5a4e0ed7735d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        640,
        340
      ],
      "webhookId": "492af7dc-98ad-483c-9287-b2d6bb07c193"
    },
    {
      "parameters": {
        "fromEmail": "Webhook (flow.sant.sh) <flow@sant.sh>",
        "toEmail": "cisco-windows@sant.sh",
        "subject": "Cisco Windows IP",
        "html": "=Current IP - {{$json[\"headers\"][\"x-forwarded-for\"]}}",
        "options": {}
      },
      "id": "669c4530-ff3a-4134-a3c0-b670a10de3a1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        940,
        460
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SendGrid"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"myIP\":\"{{ $json.headers[\"x-forwarded-for\"] }}\"}",
        "options": {}
      },
      "id": "120ae374-95c1-47fb-b0e1-97eb979aad6e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        940,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-19T17:55:06.860Z",
  "versionId": "07ea2782-eaac-4cf7-9c84-9157bd42e2ca"
}