workflows/getYourIP.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-20T17:31:48.570Z",
  "id": "1",
  "name": "getYourIP",
  "nodes": [
    {
      "parameters": {},
      "id": "304e10ea-1d63-475e-a19a-49d850675218",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -660,
        80
      ]
    },
    {
      "parameters": {
        "path": "myIP",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "716a30ee-92e7-40ee-b2ac-c5cba64eb73f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -340,
        100
      ],
      "webhookId": "492af7dc-98ad-483c-9287-b2d6bb07c193"
    },
    {
      "parameters": {
        "fromEmail": "Webhook (flow.sant.sh) <flow@sant.sh>",
        "toEmail": "cisco-windows@sant.sh",
        "subject": "Cisco Windows IP",
        "html": "=Current IP - {{$json[\"headers\"][\"x-forwarded-for\"]}}",
        "options": {}
      },
      "id": "bf1b29bb-d8c5-431d-97ba-0112fd5a5d8d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        -40,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SendGrid"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"myIP\":\"{{ $json.headers[\"x-forwarded-for\"] }}\"}",
        "options": {}
      },
      "id": "a7aa5dce-ef58-48c1-8eea-88ab86bfc982",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -40,
        -20
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-19T08:03:30.000Z",
  "versionId": "abbb78e9-f06f-496c-80fe-3d7d86333cc2"
}