workflows/PNR API.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "missingPNRNo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "incorrectPNRNo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:49:49.967Z",
  "id": "jIXDMn8Nh2jfIc5V",
  "meta": null,
  "name": "PNR API",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.confirmtkt.com/pnr-status/{{ $json.body.pnrNumber }}",
        "options": {}
      },
      "id": "61b28fc8-e061-42b2-8580-49290e735043",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ ($json.data.match(/data = \\{[^}].*}/)[0]).substring(7) }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "fe8ac7df-3ff4-433e-bf98-dc58a41fb9ce",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\nconst parsedStdout = JSON.parse($input.item.json.data);\n\nreturn {\n  json: {\n    result: parsedStdout\n  }\n};"
      },
      "id": "e78f5f8f-be79-4894-be39-f92933b3b025",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"currentStatus\" : \"railwayAPIisDown\"\n}",
        "options": {}
      },
      "id": "9a26ef46-3870-41d7-ad84-7ef70142ed9e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1380,
        760
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "getPNRInfo",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "ac3d1d7b-1736-48f4-ad61-1f2434c1dea7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        260
      ],
      "webhookId": "3eb1861d-9748-4f88-b13b-9cf96bbf5d31",
      "credentials": {
        "httpBasicAuth": {
          "id": "OSTxfqHh6ic9pfoJ",
          "name": "Santosh:Password"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.pnrNumber }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bf55da5b-7ce0-45c1-be9c-2f399f136d09",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.pnrNumber.length }}",
              "operation": "equal",
              "value2": 10
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.body.pnrNumber.isNumeric() }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "643beb07-7383-4517-9059-a9b23e4ff4c7",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"errorMsg\" : \"Missing 'pnrNumber' attribute\"}",
        "options": {}
      },
      "id": "b0a78e71-f33c-488f-9e57-3b0e1650648d",
      "name": "missingPNRNo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        360,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"errorMsg\" : \"incorrect 'pnrNumber' format\"}",
        "options": {}
      },
      "id": "70e226dd-23c4-48cf-9c70-2aa1a50b8755",
      "name": "incorrectPNRNo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.result.PassengerStatus }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "e8bd1047-a154-4b46-a8fd-d5761a90d066",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"currentStatus\" :  \"{{ $json.result.PassengerStatus[0].CurrentStatus.replace(\"  \",\" \") }} \"\n}",
        "options": {}
      },
      "id": "1f597ce4-fd88-4727-a1b2-8d7be9f5cf09",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-19T18:14:27.413Z",
  "versionId": "9f2ba2b1-5a11-441a-9dde-97e2a089d9e6"
}