workflows/PNR Status (Prod).json
{
  "active": true,
  "connections": {
    "PNR Number": {
      "main": [
        [
          {
            "node": "Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload": {
      "main": [
        [
          {
            "node": "Get PNR Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PNR Status": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "readData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "fileCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dummyData": {
      "main": [
        [
          {
            "node": "DataConversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeDummyData": {
      "main": [
        [
          {
            "node": "PNR Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataConversion": {
      "main": [
        [
          {
            "node": "writeDummyData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readData": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fileCheck": {
      "main": [
        [
          {
            "node": "PNR Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dummyData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Halt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Halt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:51:37.557Z",
  "id": "aL2aW2UkbeSmuW80",
  "meta": null,
  "name": "PNR Status (Prod)",
  "nodes": [
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "PNR",
              "value": 4355302043
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "0e30d798-d059-46f5-9f69-1f12142a7d57",
      "name": "PNR Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        40
      ]
    },
    {
      "parameters": {
        "command": "=echo -n {{ $json.PNR }} | openssl enc -e -a -aes-128-cbc -K 38303830383038303830383038303830 -iv 38303830383038303830383038303830 "
      },
      "id": "5b5807a1-2bd8-4414-9485-6af7ad562d64",
      "name": "Payload",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://railways.easemytrip.com/Train/PnrchkStatus",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pnrNumber",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4aedd4e5-f7db-4132-ac7e-19171aa79a53",
      "name": "Get PNR Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        40
      ]
    },
    {
      "parameters": {},
      "id": "bb730038-6f4f-4d74-b9f8-5a68aa44b0cf",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        380
      ]
    },
    {
      "parameters": {
        "fileName": "/tmp/pnr.lock",
        "options": {
          "append": false
        }
      },
      "id": "d4c7b83f-9c33-44cf-a5f5-dc5e8000acb4",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1720,
        500
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "7417aa09-0030-453e-a78c-9ca4797bab75",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1480,
        500
      ]
    },
    {
      "parameters": {
        "fileSelector": "/tmp/pnr.lock"
      },
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "position": [
        -200,
        500
      ],
      "typeVersion": 1,
      "id": "f841101f-26f6-41ef-b04b-3f003d870e35"
    },
    {
      "parameters": {
        "command": "FILE=/tmp/pnr.lock\nif test -f \"$FILE\"; then\n    echo \"exists\"\nelse\n    echo \"not exists\"\nfi\n"
      },
      "id": "788d5980-7d97-4f9f-9211-44b52093eba8",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -200,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\"currentStatus\": \"GNWL 0 \"}\n];"
      },
      "id": "a50b4163-4bea-4802-a26f-c1f6d7dbaddd",
      "name": "dummyData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        -240
      ]
    },
    {
      "parameters": {
        "fileName": "/tmp/pnr.lock",
        "options": {
          "append": false
        }
      },
      "id": "0f48d08b-c51e-48de-a573-8b29dadd9e58",
      "name": "writeDummyData",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        400,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "80efa123-7833-42f2-9aaf-57055f5b60bf",
      "name": "DataConversion",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        160,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee37b7d3-28da-4a01-ba76-48e758504641",
      "name": "readData",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.currentStatus.split(\" \")[1] }}",
              "value2": "={{ $json.oldStatus.split(\" \")[1] }}"
            }
          ]
        }
      },
      "id": "5d2467d2-3a4a-42d5-a391-1a78bd8fc236",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f8596f00-176c-4fe8-b7f2-7e4613ecc12c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        600,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "9f90a331-ceab-408a-9786-011f3a278031",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "value2": "exists"
            }
          ]
        }
      },
      "id": "0899fc7a-8e59-4aab-ae2b-e1199e8a035d",
      "name": "fileCheck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docker:8080/v2/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": \"Current Waiting - {{ $json.currentStatus}}\", \"number\": \"+919062281806\", \"recipients\": [ \"+919962299913\" ]}  ",
        "options": {}
      },
      "id": "22551068-aacb-4fda-8d67-130ba1070139",
      "name": "Notify Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        880
      ]
    },
    {
      "parameters": {},
      "id": "ecf241f0-d646-4fee-b614-1902311e6ce1",
      "name": "Halt",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.passengerList }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9567666d-be2f-48eb-a0d7-c02c5dee6884",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow.sant.sh/webhook/getPNRInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pnrNumber\": \"{{ $node[\"PNR Number\"].json.PNR }}\"} ",
        "options": {}
      },
      "id": "a87e10ae-d2b3-4e77-8656-453fb06827c1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1480,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OSTxfqHh6ic9pfoJ",
          "name": "Santosh:Password"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "oldStatus",
              "value": "={{ $node.Merge.json.currentStatus }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcea9103-e8a0-49db-b820-ba9475bffeb8",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "fromEmail": "notify@sant.sh",
        "toEmail": "flow@sant.sh",
        "subject": "PNR Status Changed",
        "text": "=Old Status = {{ $node.Merge.json.oldStatus }},\nCurrent Status =  {{ $node.Merge.json.currentStatus }}",
        "options": {}
      },
      "id": "f4b93ab9-fd17-424f-8f88-3f54cac8e33f",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1360,
        840
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SendGrid"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-19T18:15:02.275Z",
  "versionId": "af7659a5-59a5-497a-ae96-3fe207423068"
}