workflows/PNR API Prod.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "missingPNRNo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "incorrectPNRNo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:49:02.618Z",
  "id": "KRCWeVlxViTpsPJW",
  "meta": null,
  "name": "PNR API Prod",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.confirmtkt.com/pnr-status/{{ $json.body.pnrNumber }}",
        "options": {}
      },
      "id": "b872622f-e6b1-4efd-a61f-dccfee9eda80",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ ($json.data.match(/data = \\{[^}].*}/)[0]).substring(7) }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "f76ebc43-9db4-4240-8d61-624401a0b887",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n\nconst parsedStdout = JSON.parse($input.item.json.data);\n\nreturn {\n  json: {\n    result: parsedStdout\n  }\n};"
      },
      "id": "d15aefd7-4e6b-4a84-995e-6e30436b6d7a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"currentStatus\" : \"railwayAPIisDown\"\n}",
        "options": {}
      },
      "id": "430d42d7-9cae-4369-b345-87c7b71548da",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        760
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "getPNRInfo",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "80c0163c-a428-4b9d-8992-8b9f052bc1d3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        120,
        260
      ],
      "webhookId": "788ced25-322a-4c3a-8c73-085e0793c65a",
      "credentials": {
        "httpBasicAuth": {
          "id": "7",
          "name": "Basic-Auth [Santosh:Password]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.pnrNumber }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2dfee463-ebf8-4d52-8846-b76ce1ac6e55",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.pnrNumber.length }}",
              "operation": "equal",
              "value2": 10
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.body.pnrNumber.isNumeric() }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "b6ef1baf-560a-4f6a-8eba-e689e0718b28",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"errorMsg\" : \"Missing 'pnrNumber' attribute\"}",
        "options": {}
      },
      "id": "21649623-3ab6-43de-9a82-15ac377cf105",
      "name": "missingPNRNo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        320,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"errorMsg\" : \"incorrect 'pnrNumber' format\"}",
        "options": {}
      },
      "id": "4551c120-57de-464b-b36b-26f5813a12d3",
      "name": "incorrectPNRNo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.result.PassengerStatus }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "f5646fe6-f81d-4019-93fb-e84357a6c6f4",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"currentStatus\" :  \"{{ $json.result.PassengerStatus[0].CurrentStatus.replace(\"  \",\" \") }} \"\n}",
        "options": {}
      },
      "id": "2eaa26cc-ebf7-4825-9e0a-482084da09fb",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-24T18:29:29.333Z",
  "versionId": "dde43efe-3e51-4acd-b0c8-87853c06822f"
}