workflows/PNR Status (Pi).json
{
  "active": true,
  "connections": {
    "PNR Number": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "readData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "fileCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dummyData": {
      "main": [
        [
          {
            "node": "DataConversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writeDummyData": {
      "main": [
        [
          {
            "node": "PNR Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataConversion": {
      "main": [
        [
          {
            "node": "writeDummyData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readData": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fileCheck": {
      "main": [
        [
          {
            "node": "PNR Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dummyData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Halt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Halt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:50:54.433Z",
  "id": "DERfwgphpXCQbUOh",
  "meta": null,
  "name": "PNR Status (Pi)",
  "nodes": [
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "PNR",
              "value": 6325767194
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "ede6a11a-8a85-42aa-a5ce-3c60b0d2aac7",
      "name": "PNR Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        920,
        20
      ]
    },
    {
      "parameters": {
        "command": "=echo -n {{ $json.PNR }} | openssl enc -e -a -aes-128-cbc -K 38303830383038303830383038303830 -iv 38303830383038303830383038303830 "
      },
      "id": "74b243e9-68fd-4682-aadb-ce760b7b2aab",
      "name": "Payload",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1660,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://railways.easemytrip.com/Train/PnrchkStatus",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pnrNumber",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d34275f-8704-4977-b3e4-4e3a1e7c796d",
      "name": "Get PNR Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1880,
        -320
      ]
    },
    {
      "parameters": {},
      "id": "b803d5d6-1965-4810-96b4-db69e5d1fb9c",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        560
      ]
    },
    {
      "parameters": {
        "fileName": "/tmp/6325767194.lock",
        "options": {
          "append": false
        }
      },
      "id": "e71ab8cd-040f-48d6-8c18-d05f3f5c9ee9",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2040,
        680
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "6842cd75-cd48-45d3-98ee-bed277b50122",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1800,
        680
      ]
    },
    {
      "parameters": {
        "fileSelector": "/tmp/6325767194.lock"
      },
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "position": [
        -40,
        720
      ],
      "typeVersion": 1,
      "id": "4d467859-d391-4a4d-99e0-8521ef8fc070"
    },
    {
      "parameters": {
        "command": "FILE=/tmp/6325767194.lock\nif test -f \"$FILE\"; then\n    echo \"exists\"\nelse\n    echo \"not exists\"\nfi\n"
      },
      "id": "3dac8669-6a39-459e-9637-aa8dd32dadc7",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -40,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\"currentStatus\": \"GNWL 0 \"}\n];"
      },
      "id": "bea44d7d-0c5e-466e-9b4e-04596c68ab87",
      "name": "dummyData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        140,
        300
      ]
    },
    {
      "parameters": {
        "fileName": "/tmp/6325767194.lock",
        "options": {
          "append": false
        }
      },
      "id": "102501da-523a-463e-8ba0-9eab5363f69a",
      "name": "writeDummyData",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "e8941f7c-70e5-4e06-98a6-11eb37f5ee3e",
      "name": "DataConversion",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc5f039c-5b3d-4b5a-a370-e74b68195923",
      "name": "readData",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        460,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.currentStatus.split(\" \")[1] }}",
              "value2": "={{ $json.oldStatus.split(\" \")[1] }}"
            }
          ]
        }
      },
      "id": "1024cbb7-4b36-4e6f-9d96-3d6da0cec4ae",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        700
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6b4f5782-3b99-46fe-8893-207fc0471ed1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1000,
        700
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "2fbaf549-fc94-44d6-b03a-09185df77214",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "value2": "exists"
            }
          ]
        }
      },
      "id": "e996c2e7-1e91-488e-a1ef-49bd301519bc",
      "name": "fileCheck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docker:8080/v2/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": \"Current Waiting - {{ $json.currentStatus}}\", \"number\": \"+919062281806\", \"recipients\": [ \"+919962299913\" ]}  ",
        "options": {}
      },
      "id": "9fdaa260-ef0b-4e22-aa59-dde16fc03a10",
      "name": "Notify Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2080,
        -320
      ]
    },
    {
      "parameters": {},
      "id": "05c2d824-989d-4d8e-a795-3d69d8a12c68",
      "name": "Halt",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow.sant.sh/webhook/getPNRInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pnrNumber\": \"{{ $node[\"PNR Number\"].json.PNR }}\"} ",
        "options": {}
      },
      "id": "571a75c6-4c86-49db-bcc0-1c6850561788",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OSTxfqHh6ic9pfoJ",
          "name": "Santosh:Password"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "oldStatus",
              "value": "={{ $node.Merge.json.currentStatus }}"
            }
          ]
        },
        "options": {}
      },
      "id": "34f89cfb-d830-473d-8db3-0689076e363a",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        680
      ]
    },
    {
      "parameters": {
        "fromEmail": "notify@sant.sh",
        "toEmail": "pahal_todu@mail.itsbiswa.me",
        "subject": "PNR Status Changed (Bihar)",
        "text": "=Old Status = {{ $node.Merge.json.oldStatus }},\nCurrent Status =  {{ $node.Merge.json.currentStatus }}",
        "options": {
          "ccEmail": "notify@sant.sh"
        }
      },
      "id": "05256ca2-4015-4195-974f-6afb8fb20f6f",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1620,
        1040
      ],
      "credentials": {
        "smtp": {
          "id": "OurKgjcgNTPo5E3F",
          "name": "SendGrid"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-01T08:11:13.617Z",
  "versionId": "1fe6af9f-2daa-4f6b-8eb9-a8ef85995d64"
}