workflows/Truecaller API.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "missingNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "correctFormat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "+91_Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correctFormat": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "+91_Added": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-19T17:54:27.250Z",
  "id": "nEMHsNjnQugaV8BO",
  "meta": null,
  "name": "Truecaller API",
  "nodes": [
    {
      "parameters": {
        "url": "https://search5-noneu.truecaller.com/v2/search",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n        \"q\": \"{{ $json.number }}\",\n        \"countryCode\": \"US\",\n        \"type\": 4,\n        \"locAddr\": \"\",\n        \"placement\": \"SEARCHRESULTS,HISTORY,DETAILS\",\n        \"encoding\": \"json\"\n    }",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{    \"content-type\":\"application/json; charset=UTF-8\",    \"accept-encoding\":\"gzip\",    \"user-agent\":\"Truecaller/11.75.5 (Android;10)\",    \"Authorization\":\"Bearer a1i0N--iV99QlVNFD32Led-m7SZ-mkzNBKO0jjyMuW8hIhg94GkLSOODb7-9A5RI\" }",
        "options": {}
      },
      "id": "0dac1239-65cd-4589-949b-5167d6ed3f3d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "truecaller",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "62ce7f66-afc1-45e5-8d66-501735aa4248",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "a0ae491d-f6e9-4622-9a08-7edda05d643a",
      "credentials": {
        "httpBasicAuth": {
          "id": "7",
          "name": "Basic-Auth [Santosh:Password]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "94894533-ef74-466c-a42b-0a6d44b08936",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.number.slice(0,3) }}",
              "value2": "+91"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.query.number.length }}",
              "operation": "equal",
              "value2": 13
            }
          ]
        }
      },
      "id": "16f7ccc3-0a6d-4947-b03f-5b515fc73c79",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"errorMsg\" : \"Invalid Data Input\"}",
        "options": {}
      },
      "id": "b8f5a7b1-360c-4026-adcd-8e87af08712c",
      "name": "missingNumber",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        620,
        580
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[{ \n\"Name\":\"{{ $json.data[0].name }}\",\n\"Number\":\"{{ $json.data[0].phones[0].e164Format }}\",\n\"Carrier\":\"{{ $json.data[0].phones[0].carrier }}\",\n\"City\":\"{{ $json.data[0].addresses[0].city }}\",\n\"Spam\": \"{{ $json.data[0].phones[0].spamType }},{{ $json.data[0].phones[0].spamScore }}\"\n}]",
        "options": {}
      },
      "id": "5ac6c491-c641-42ea-af85-56859b8985ee",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        280
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "number",
              "value": "={{ $json.query.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3feb3e76-fcf5-4846-8762-9a8c6d430f52",
      "name": "correctFormat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "number",
              "value": "=+91{{ $json.query.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4f28407-3236-4983-b3e0-e283b1074ca1",
      "name": "+91_Added",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-19T17:54:37.823Z",
  "versionId": "2a956f78-dd5b-4e60-ac8c-62eaa84cd9e6"
}